mat-card{
    margin-bottom: 5px;
}
mat-card-footer{
    padding-left:16px;
    
}
h3{
    display: inline;
    tab-size: 2;
}
.delbtn{
    margin-bottom: 12px;
    margin-left: 15px;
    margin-top: 9px;
}
    
