
<mat-card><div class="example-button-row">
   <button mat-raised-button routerLink="/dashboard/side" >profile</button><br>
    <button  mat-raised-button routerLink="/dashboard/category">categories</button><br>
    <button mat-raised-button routerLink="/dashboard/addcategory">add categories</button><br>
    <button  mat-raised-button routerLink="/dashboard/viewquizes">quizes</button><br>
    <button  mat-raised-button routerLink="/dashboard/addquizes">add quiz</button><br>
    <button mat-raised-button (click)="logout()">logout</button> 
   
   </div>
</mat-card>

   
